:root {
    font-size: 62.5%;
    --mainBlue: #00c2fd;
    --darkBlue: rgb(8, 31, 243);
    --mainPink: rgb(241, 128, 223);
    --white: #fff;
    --black: #000;
    --grey: #333;
}

.body{
    font-family: "Nunito", sans-serif;
    background-color: var(--white);
    font-weight: 400;
}

.navbar {
    font-size: 1.6rem;
}

#logo {
    width: 20%;
}

.navbar-brand {
    font-weight: 400;
    font-size: 2rem;
}

.cart {
    transform: translateY(3px);
    box-shadow: 0rem 1rem 2rem rgba(var(--black), .2);
}

.carousel {
    width: 100%;
    height: 70%;
}

.slide {
    border-radius: 3px;
}

.cardGroud {
    margin: 3rem auto;
    display: flex;
    justify-content: space-between;
}

.card {
    width: 30rem;
    transition: all .3s;
    display: inline-block;
}

.card-text {
    font-size: 2rem;
    text-align: center;
}
.hotIssue:hover {
    transform: scale(1.1);
}

.card-img-top {
    border-radius: 3px;
    transition: all .3s linear;
}

.card-footer {
    background-color: transparent;
    border-top: transparent;
    transition: all .5s linear;
}

.card:hover {
    box-shadow: .2rem .2rem .5rem 0 raba(var(--black), .2);
}

.cardBox {
    transition: all .4s;
}

.cardBox:hover {
    /* border: .1rem solid rgba(var(--grey), .2); */
    transform: translateY(-2px);
}

.img-container{
    position: relative;
    overflow: hidden;
}

.img-container:hover .card-img-top {
    transform: scale(1.2);
}

.cart-btn {
    border: none;
    font-size: 1.6rem;
    opacity: 0;
}

.cardBox:hover .cart-btn {
    opacity: 1;
}

.cart-btn:hover {
    cursor: pointer;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(var(--black), .3);
    display: flex;
    align-items: center;
    justify-content: center;
}

#inCart {
    margin: 0 auto;
}

#price {
    font-size: 1.6rem;
}

#modal {
    background-color: var(--white);
}

.btn-black {
    background-color: transparent;
    text-transform: capitalize;
    font-size: 1rem !important;
    color: var(--grey);
    border-radius: 0 !important;
    border: .15rem solid var(--grey) !important;
}

.btn-black:hover {
    background-color: var(--mainPink);
    color: var(--white);
}

.cart-icon {
    cursor: pointer;
    font-size: 2rem;
    color: var(--mainBlue);
}
